@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Base */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    /* Primary (Ocean) */
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --ocean-50: 209 100% 96%;
    --ocean-100: 207 100% 93%;
    --ocean-200: 208 100% 86%;
    --ocean-300: 210 100% 76%;
    --ocean-400: 215 100% 65%;
    --ocean-500: 226 100% 55%;
    --ocean-600: 230 100% 45%;
    --ocean-700: 235 100% 40%;
    --ocean-800: 235 100% 30%;
    --ocean-900: 238 100% 20%;
    --ocean-950: 240 100% 10%;

    /* Secondary (Lavender) */
    --secondary: 240 80% 90%;
    --secondary-foreground: 240 20% 20%;
    --lavender-50: 235 90% 97%;
    --lavender-100: 235 85% 94%;
    --lavender-200: 235 80% 89%;
    --lavender-300: 235 75% 80%;
    --lavender-400: 235 70% 70%;
    --lavender-500: 235 65% 60%;
    --lavender-600: 235 60% 50%;
    --lavender-700: 235 55% 40%;
    --lavender-800: 235 50% 30%;
    --lavender-900: 235 45% 20%;

    /* Success (Moss) */
    --moss-50: 140 70% 97%;
    --moss-100: 140 60% 93%;
    --moss-200: 140 55% 85%;
    --moss-300: 140 50% 70%;
    --moss-400: 140 45% 60%;
    --moss-500: 140 50% 50%;
    --moss-600: 140 55% 40%;
    --moss-700: 140 60% 32%;
    --moss-800: 140 65% 25%;
    --moss-900: 140 70% 18%;

    /* Error (Carnation) */
    --carnation-50: 0 100% 97%;
    --carnation-100: 0 100% 94%;
    --carnation-200: 0 100% 88%;
    --carnation-300: 0 90% 80%;
    --carnation-400: 0 85% 70%;
    --carnation-500: 0 84% 60%;
    --carnation-600: 0 80% 50%;
    --carnation-700: 0 75% 40%;
    --carnation-800: 0 70% 30%;
    --carnation-900: 0 65% 20%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.65rem;
  }

  .dark:root {
    --background: 226, 39%, 13%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    /* Primary (Ocean) */
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --ocean-50: 209 100% 96%;
    --ocean-100: 207 100% 93%;
    --ocean-200: 208 100% 86%;
    --ocean-300: 210 100% 76%;
    --ocean-400: 215 100% 65%;
    --ocean-500: 226 100% 55%;
    --ocean-600: 230 100% 45%;
    --ocean-700: 235 100% 40%;
    --ocean-800: 235 100% 30%;
    --ocean-900: 238 100% 20%;
    --ocean-950: 240 100% 10%;

    --secondary: 235 30% 18%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer utilities {
  .flex-row-center {
    @apply flex flex-row items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-start justify-center;
  }
}
